/* configurando todo o sistema de grid do site */
.estrutura{
    display: grid;
    grid-template-columns: minmax(160px, 1fr) 3fr 300px;
    grid-template-areas: 
        "header header header"
        "sidnev content anuncios"
        "footer footer footer"
    ;
}
/*configuracoes do menu */
.header{
    grid-area: header;
    /* craiando um gradiente no menu */
    background: $header-background;
    padding: 30px;
    /* criando o Grid interno do menu */
    display: grid;
    /* definindo a quantidade de colunas do meu menu e tamanho */
    grid-template-columns: 1fr auto;
    align-items: center;
    /*  fim do Grid interno do menu */
    .logo{
        max-width: 200px;
    }
    nav{
        ul{
            display: flex;
            flex-wrap: wrap;
        }
        a{
            display: block;
            padding: 10px;
            color: $header-font-cor;
            font-size: $header-font-size;
            background: #8844ee58;
            border-radius: 5px;
            transition: 0.1s;
            &:hover{
                background: #8844ee8e;

            }
        }
        /* so ira adicionar a margin quando tiver um li apos o outro */
        li + li{
            margin-left: 30px;
        }
    }
}
/* fim das configuracoes menu */
/* inicio das configuracoes da sidnav */
.sidenav{
    grid-area: sidnev;
    background: $cor-fundo-laterais;
    padding: 30px;
    ul{
        li{
            a{
                display: block;
                min-width: 60px;
                max-width: 100px;
                margin: 0 auto 30px auto;
                background: white;
                padding: 20px;
                border-radius: 10px;
                box-shadow: 5px 5px 15px 0px rgba(44, 44, 44, 0.324);
                transition: .1s ease-out;
            &:hover{
                background-color: #B07DFB;
                }
            }
        }
    }
}

/* fim das configuracoes da sidnav */

/* Inicio das configuracoes da content */

.content{
    grid-area: content;
    max-width: 900px;
    margin: 0 auto;
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;

    /* define que o item no grid vai ser com todas as colunas */
    .col-wide{
        grid-column: 1 / -1;
    }
    img{
        width: 100%;
    }
    .img-1{
        grid-row: span 2;
        align-self: end;
    }
    .img-2{
        align-self: end;

    }
    /* inicio stylos */
    p{
        font-size: $content-font-size;
        font-weight: $content-font-height;
        letter-spacing: -0.005em;
        color: $content-font-cor;
    }
    .informacoes{
        p + p{
            margin-top: 30px;
        }
    }
    /* titulo */
    .titulo{
        color: $content-font-titulo-cor;
        h1{
            font-size: $content-font-titulo-size;
            line-height: 1;
            font-weight: 700;
        }
        span{
            font-size: $content-font-subtitulo-size;
            font-style: italic;
        }
    }
    /* caracteristicas */
    .caracteristicas{
        display: flex;
        align-items: flex-start;
        span{
            display: block;
            color: $content-font-titulo-cor;
        }
        > div{
            width: 80px;
            text-align: center;
            background: $footer-background;
            border-radius: 6px;
            box-shadow: 5px 5px 15px 0px rgba(44, 44, 44, 0.324);
            position: relative;
        }
        > div:first-child{
            margin-right: 30px;
        }
        .numero{
            font-size: 3em;
            line-height: 1;
            margin-top: 10px auto;
        }
        .rotulo{
            background-color: white;
            border-radius: 0 0 5px 5px;
            padding: 5px 0;
            position: relative;
            top: 2px;
        }
    }
    .citacao,.atributos{
        padding: 30px;
        border-radius: 5px;
        box-shadow: 5px 5px 15px 0px rgba(44, 44, 44, 0.15);
        background: $footer-background;
        align-self: start;
    }
    .citacao p{
        font-size: 1.3em;
        font-style: italic;
        color: white;
        max-width: 500px;
        margin: 0 auto;
    }
    .atributos{
        li{
            color: white;
            font-family: Courier, monospace;
            font-size: 1em;
            padding: 15px;
        }
        li + li{
            border-top: 2px solid #B07DFB;
        }
    }

    /* testos em destaque */
    .destaque{
        font-size: $content-destaques-size;
        color: $content-destaques-color;
        max-width: 16em;
        
    }
    /*   fim stylos  */
}
/* fim das configuracoes da content */

/* Inicio das configuracoes da anuncios */

.anuncios{
    grid-area: anuncios;
    background:$cor-fundo-laterais;
    display: grid;
    align-content: start;
    padding: 30px;
    /* distancia entre os itens sem a margim */
    gap: 30px;
}
/* fim das configuracoes da anuncios */

/* Inicio das configuracoes da footer */

.footer{
    grid-area: footer;
    background: $footer-background;
    p{
        font-size: $footer-font-size;
        color: $footer-font-cor;
        text-align: center;
        padding: 30px;
    }
}
/* fim das configuracoes da footer */
