$cor: #ddda43;
$cor_botao: rgb(223, 216, 13);
$tamanho_da_font: 2em;



/* Variaveis referente ao HEADER and FOOTER */
$header-font-cor: #000;
$header-font-size: 1.125em;
$header-background: linear-gradient(135deg, #8844ee, #B07DFB);

$footer-background: linear-gradient(135deg, #8844ee, #B07DFB);
$footer-font-cor: white;
$footer-font-size: 1.125em;
/* Variaveis refetrente ao fundo das navs */

$cor-fundo-laterais: #e4d5fa25;

/* formatacao content */
$content-font-size: 1.2em;
$content-font-height: 1.6;
$content-font-cor: rgba(0, 0, 0, 0.7);

$content-font-titulo-cor: #B07DFB;
$content-font-titulo-size: 3.75em ; 
$content-font-subtitulo-size: 0.875em;

$content-destaques-size: 0.875em;
$content-destaques-color: #B07DFB ;