@import "modulos/variaveis.scss";
@import "modulos/html.scss";
@import "modulos/grid.scss";
@import "modulos/responsivo.scss";
/* @extend usando quando nao a variacaoes no css para nao gerar codigo repetitivo*/
/* @mixin seria uma funcao para css, onde eu posso passar parametros no seu uso */